{{!-- <h1>Static Header.hbs </h1> --}}
{{!-- navigate through things --}}

<h1>{{title}} HBS</h1>

<div>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
</div>

{{!-- Partials can be used throughout the application to make it really easy to render the samething over and over --}}